@charset "UTF-8";

// Initialize Compass
@import "compass";

// Import Variables
@import "reset";
@import "setting";
@import "parts";

$red: #E1332D;


body {
  line-height: 1.2em;
  background: url(../images/brickwall.png) repeat;
  font-family: $baseFontFamily;
  color: $baseFontColor;
  min-width: 980px;
}
/*////////////////////////////////////////
	HEADER
////////////////////////////////////////*/
.header {
  padding: 5px 0;
  background: #222;
  color: #ededed;
  font-size: 14px;
  .head_content {
    padding-left: 15px;
    float: right;
    a {
      color: #fff;
    }
  }
}

.site_title {
  font-size: 36px;
  padding: 35px 0 5px;
  a {
    color: #333;
    text-decoration: none;
    display: block;
  }
  .sub_title {
    margin-bottom: 20px;
  }
}
.wrap {
  margin: 0 auto;
  padding: 0 20px;
  width: 940px;
}

.page_description {
  padding: 20px 10px;
  font-size: 14px;
  color: #aaa;
}
.main.wrap {
  background: #fdfdfd;
  border-right: 2px solid #666;
  border-left: 2px solid #666;
}
/*////////////////////////////////////////
	FOOTER
////////////////////////////////////////*/
.footer {
  padding: 10px 0;
  background: #222;
  color: #ededed;
  font-size: 14px;
  .foot_content {
    padding-left: 15px;
    float: right;
    a {
      color: #d18904;
    }
  }
  .copy {
    padding-left: 20px;
    font-size: 12px;
    text-align: right;
  }
}


/* button block
-------------------------------------*/
// source_list
.source_box {
  z-index: 999;
  display: none;
  margin: 10px 0 30px;
  width: 920px;
  clear: both;
  padding: 20px 10px;
  background: #232323;
  .source_list {
    border: 1px solid #ccc;
  }
  .source {
    width: 458px;
    float: left;
    position: relative;
    font-size: 13px;
    font-family: monospace;
    line-height: 15px;
    .description {
      color: #fff;
      position: absolute;
      top: 20px;
      left: 5px;
    }
    &.source_css code {
      border-left: 2px solid #ccc;
    }
  }
}

// button style default
.button_block {
  padding: 30px 0;
  .button_list {
    margin: 10px 0;
    width: 280px;
    border: 3px solid #ccc;
    background: #efefef;
    float: left;
    padding: 30px 10px 40px;
    box-sizing: border-box;
    &.content_center {
      margin: 10px 50px;
    }
    &:hover {
      border: 3px dashed #ccc;
    }
    .button {
      margin: 0 auto;
      width: 200px;
      height: 40px;
      font-weight: bold;
      text-align: center;
      .button_anchor {
        font-size: 17px;
        display: block;
        text-decoration: none;
      }
    }
  }
}

// each button style
#btn1 {
  .button_anchor {
    padding: 5px 10px;
    background: #e7ae00;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 6px 0 #b48800,0 12px 0 rgba(0,0,0,0.2);
    text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 3px 0 #ce9b00,0 6px 0px rgba(0,0,0,0.2);
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
      background: #ffc71b;
    }
  }
}

#btn2 {
  .button_anchor {
    width: 200px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: #587ed3;
    border: 2px solid #333;
    color: #333;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &::after {
      position: absolute;
      z-index: -1;
      display: block;
      content: '';
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      top: -100%;
      width: 100%;
      height: 100%;
    }
    &:hover {
      color: #4b68aa;
      border: 2px solid #4b68aa;
      &::after {
      top: 0;
      background-color: #fff;
      }
    }
  }
}

#btn3 {
  .button_anchor {
    line-height: 38px;
    color: #eb5503;
    border: 1px solid #eb5503;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 3px 0px #eb5403,inset 0px 0px 2px #fff;
    -webkit-box-shadow: 0px 3px 0px #eb5403,inset 0px 0px 2px #fff;
    box-shadow: 0px 3px 0px #eb5403,inset 0px 0px 2px #fff;
    -webkit-transition: all 0.3s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.3s linear;
    -moz-transform-origin: 50% 50%;
    &:hover {
      background: #eb5503;
      color: #fff;
      text-decoration: none;
    }
  }
}

#btn4 {
  .button_anchor {
    color: #fff;
    line-height: 38px;
    background: red;
    border: 2px solid #fff;
    overflow: hidden;
    position: relative;
    &::after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: 0.4;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: 1;
    }
    &:hover {
      &:after {
        left: 120%;
        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 3;
      }
    }
  }
}

#btn5 {
  .button_anchor {
    color: #fff;
    line-height: 38px;
    background: #55efcb;
    border: 2px solid #f7f7f7;
    position: relative;
    -webkit-transition: all 0.3s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.3s linear;
    -moz-transform-origin: 50% 50%;
    overflow: hidden;
    &::after {
      -webkit-transition: all 0.2s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.2s linear;
      -moz-transform-origin: 50% 50%;
      position: absolute;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #f7f7f7;
      height: 120%;
      left: -10%;
      -webkit-transform: skewX(15deg);
      transform: skewX(15deg);
      z-index: 10;
    }
    &:hover {
      color: #5bcaff;
      &::after {
        left: -10%;
        width: 120%;
      }
    }
  }
  span {
    position: relative;
    z-index: 999;
  }
}

#btn6 {
  .button_anchor {
    line-height: 36px;
    position: relative;
    z-index: 2;
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.3s linear;
    -moz-transform-origin: 50% 50%;
    &:hover {
      background-color: #fff;
      border-color: #59b1eb;
      color: #59b1eb;
      &::after,
      &::before {
        width: 0;
        background-color: #59b1eb;
      }
    }
    &::after,
    &::before {
      position: absolute;
      z-index: -1;
      display: block;
      content: '';
      top: 0;
      width: 50%;
      height: 100%;
      background-color: #333;
      -webkit-transition: all 0.3s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.3s linear;
      -moz-transform-origin: 50% 50%;
   }
    &::before {
      right: 0;
    }
    &::after {
      left: 0;
    }
  }
}

#btn7 {
  .button_anchor {
    line-height: 36px;
    position: relative;
    z-index: 2;
    background-color: #39f13c;
    border: 2px solid #39f13c;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.3s linear;
    -moz-transform-origin: 50% 50%;
    &:hover {
      background-color: #fff;
      border-color: #044f1e;
      color: #044f1e;
      &::after,
      &::before {
        height: 0;
        background-color: #59b1eb;
      }
    }
    &::after,
    &::before {
      position: absolute;
      z-index: -1;
      display: block;
      content: '';
      left: 0;
      width: 100%;
      height: 50%;
      background-color: #39f13c;
      -webkit-transition: all 0.3s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.3s linear;
      -moz-transform-origin: 50% 50%;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
}

#btn8 {
  .button_anchor {
    line-height: 36px;
    position: relative;
    z-index: 2;
    background-color: #000;
    border: 2px solid #333;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.3s linear;
    -moz-transform-origin: 50% 50%;
    &:hover {
      color: #333;
      &::after {
        background: #fff;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
      content: '';
      -webkit-transition: all 0.3s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.3s linear;
      -moz-transform-origin: 50% 50%;
      -webkit-transform: scale(.5);
      transform: scale(.5);
    }
  }
}

#btn9 {
  .button_anchor {
    line-height: 36px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border: 2px solid #3502f0;
    color: #3502f0;
    -webkit-transition: all 0.2s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.2s linear;
    -moz-transform-origin: 50% 50%;
    -webkit-perspective: 200px;
    perspective: 200px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    &:hover {
      color: #fff;
      &::after {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
      }
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
      content: '';
      opacity: 0;
      background: #3502f0;
      -webkit-transition: all 0.2s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.2s linear;
      -moz-transform-origin: 50% 50%;
      -webkit-transform: scale(.5);
      -webkit-transform-origin: center top;
      transform-origin: center top;
      -webkit-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }
}

#btn10 {
  .button_anchor {
    line-height: 36px;
    position: relative;
    z-index: 2;
    background-color: #eb5503;
    border: 2px solid #eb5503;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.2s linear;
    -moz-transform-origin: 50% 50%;
    -webkit-perspective: 200px;
    perspective: 200px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    &:hover {
      background-color: #fff;
      color: #eb5503;
      &::after {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        opacity: 1;
      }
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
      content: '';
      opacity: 0;
      background: #eb5503;
      -webkit-transition: all 0.2s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.2s linear;
      -moz-transform-origin: 50% 50%;
      -webkit-transform: scale(.5);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
    }
  }
}

#btn11 {
  .button_anchor {
    height: 40px;
    line-height: 36px;
    position: relative;
    z-index: 2;
    -webkit-perspective: 200px;
    perspective: 200px;
    -webkit-transition: all 0.2s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.2s linear;
    -moz-transform-origin: 50% 50%;
    span {
      display: block;
      position: absolute;
      width: 200px;
      border: 2px solid #ffde44;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      pointer-events: none;
      &.after {
        background-color: #ffde44;
        color: #fff;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform-origin: 50% 50% -20px;
        -moz-transform-origin: 50% 50% -20px;
        transform-origin: 50% 50% -20px;
      }
      &.before {
        background-color: #fff;
        color: #ffde44;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: 50% 50% -20px;
        -moz-transform-origin: 50% 50% -20px;
        transform-origin: 50% 50% -20px;
      }
    }
    &:hover {
      .after {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }
      .before {
        background-color: #ffde44;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
      }
    }
  }
}

#btn12 {
  .button_anchor {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    line-height: 38px;
    -webkit-transition: all 0.2s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.2s linear;
    -moz-transform-origin: 50% 50%;
    &::before {
      content: "";
      position: absolute;
      -webkit-transition: all 0.2s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.2s linear;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:hover {
      border: 1px solid #fff;
      &::before {
        box-shadow: 0 15px 10px -10px rgba(100, 100, 100, 0.5);
      }
    }
  }
}

#btn13 {
  .button_anchor {
    position: relative;
    line-height: 38px;
    border-color: #fff;
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    transform-style: flat;
    -webkit-transition: all 0.2s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.2s linear;
    -moz-transform-origin: 50% 50%;
    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      -webkit-transition: all 0.2s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.2s linear;
      -moz-transform-origin: 50% 50%;
      box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    }
    &:hover {
      border-color: #dedede;
      &::before {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
      }
    }
  }
}

#btn14 {
  .button_anchor {
    line-height: 38px;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    -webkit-transition: all 0.2s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.2s linear;
    -moz-transform-origin: 50% 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    &::after {
      content: "";
      position: absolute;
      -webkit-transition: all 0.2s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.2s linear;
      bottom: 12px;
      width: 50%;
      height: 55%;
      box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.6);
      left: 45%;
      z-index: -2;
    }
    &:hover {
      border-radius: 0 0 40% 0 / 0 0 30% 0;
      &::after {
        box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
        transform: skew(8deg) rotate(3deg);
      }
    }
  }
}

#btn15 {
  .button_anchor {
    line-height: 40px;
    background: #3502f0;
    color: #fff;
    border: none;
    position: relative;
    -webkit-transition: all 0.4s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.4s linear;
    -moz-transform-origin: 50% 50%;
    &::before,
    &::after {
      content:'';
      position: absolute;
      top: 0;
      right: 0;
      height: 2px;
      width: 0;
      background: #3502f0;
      -webkit-transition: all 0.4s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.4s linear;
      -moz-transform-origin: 50% 50%;
    }
    &::after {
      right: inherit;
      top: inherit;
      left: 0;
      bottom: 0;
    }
    &:hover {
      background: #fff;
      color: #3502f0;
      &::before,
      &::after {
        width:100%;
        -webkit-transition: all 0.4s linear;
        -webkit-transform-origin: 50% 50%;
        -moz-transition: all 0.4s linear;
        -moz-transform-origin: 50% 50%;
      }
    }
  }
}

#btn16 {
  .button_anchor {
    line-height: 40px;
    height: 40px;
    color: #000;
    width: 200px;
    position: relative;
    perspective: 200px;
    -webkit-perspective: 200px;
    span {
      background-color: red;
      position:absolute;
      top: 0;
      left: 0;
      width: 200px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      transition: 0.8s;
      &.after {
        background-color: #61a84d;
        transform:rotateY(180deg);
        -webkit-transform:rotateY(180deg);
      }
    }
    &:hover .before {
        transform:rotateY(180deg);
        -webkit-transform:rotateY(180deg);
    }
    &:hover .after {
        transform:rotateY(360deg);
        -webkit-transform:rotateY(360deg);
    }
  }
}

#btn17 {
  .button_anchor {
    line-height: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    overflow: hidden;
    width: 200px;
    position: relative;
    background: #2ecc71;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.4s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.4s linear;
    -moz-transform-origin: 50% 50%;
    &::before {
      font-family: monospace;
      content:"→";
      color: #fff;
      position:absolute;
      left: 130%;
      height: 100%;
      top: 0;
      -webkit-transition: all 0.4s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.4s linear;
      -moz-transform-origin: 50% 50%;
    }
    &:hover {
      background: #24b662;
      &::before {
        left: 75%;
      }
    }
  }
}

#btn18 {
  .button_anchor {
    line-height: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    overflow: hidden;
    width: 200px;
    position: relative;
    background: #2ecc71;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.4s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.4s linear;
    -moz-transform-origin: 50% 50%;
    &::before {
      font-family: monospace;
      content:"←";
      color: #fff;
      position:absolute;
      left: -30%;
      height: 100%;
      top: 0;
      -webkit-transition: all 0.4s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.4s linear;
      -moz-transform-origin: 50% 50%;
    }
    &:hover {
      background: #24b662;
      &::before {
        left: 15%;
      }
    }
  }
}

#btn19 {
  .button_anchor {
    position: relative;
    border: 1px solid #ee3769;
    border-radius: 8px;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    color: #ee3769;
    -webkit-transition: all 0.3s linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transition: all 0.3s linear;
    -moz-transform-origin: 50% 50%;
    z-index: 2;
    &::before{
      content:'';
      position: absolute;
      border-radius: 50%;
      display: block;
      width: 400px;
      height: 400px;
      top: -180px;
      left: -100px;
      z-index: -1;
      -webkit-transition: all 0.3s linear;
      -webkit-transform-origin: 50% 50%;
      -moz-transition: all 0.3s linear;
      -moz-transform-origin: 50% 50%;
    }
    &:hover {
      color: #fff;
      &::before {
        box-shadow: inset 0 0 0 200px #ee3769;
      }
    }
  }
}
